*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: gainsboro;
}

.container {
  display: flex;
  gap: 25px;
}
.centered {
  text-align: center;
}
.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid goldenrod;
}
.left-users-title {
  width: 15%;
  height: 120px;
  /* text-align: center; */
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: 50px;
}
.left-users {
  text-align: left;
  font-family: 19px;
}
.right-container {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  border: 1px solid goldenrod;
  width: 100%;
  /* background-color: violet; */
  justify-content: space-between;
}

.right-user {
  display: flex;
}
.u1 {
  border: 1px solid goldenrod;
}
.right-user * {
  flex-basis: 100%;
}
.users-right-container {
  display: flex;
  background-color: greenyellow;
}
.user-1 {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: auto;
  /* flex-basis: 100%; */
}
.po {
  width: 50px;
  height: 50px;
  border: 1px solid goldenrod;
  background-color: red;
  font-size: 21px;
  /* background-color: violet; */
}
.dr {
  width: 50px;
  height: 50px;
  border: 1px solid goldenrod;
  background-color: red;
  font-size: 21px;
  /* background-color: violet; */
}
.ch {
  width: 50px;
  height: 50px;
  border: 1px solid goldenrod;
  background-color: red;
  font-size: 21px;
  /* background-color: violet; */
}

.ret {
  flex: 3;
  background-color: red;
}

.action {
  display: flex;
  align-items: center;
  justify-content: end;
}

.select{
  width: 150px;
  height: 35px;
}
.btn {
  padding: 10px 30px;
}
