.container {
  width: 1800px;
  height: 900px;
  margin: 30px auto;
  background-color: #eee;

  display: grid;
  grid-gap: 10px;

  /*   grid-template-rows: 100px 200px 400px 100px; */
  /*   grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 70% 15% 15%;
}

.container * {
  background-color: white;
  padding: 20px;
  color: #000;
  font-family: sans-serif;
  font-size: 13px;
  border: 2px solid crimson;
}
.col-1 {
  /*   margin:3px;
  padding: 5px; */
  display: grid;
  grid-template-rows: 40% 60%;
  /*   grid-template-columns: repeat(4, 1fr); */
}
.house-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.player-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.carduri-jucate {
  grid-column: 1 / span 3;
}

.draggable {
  background-image: url('https://source.unsplash.com/user/erondu/');
  position: relative;
  height: 150px;
  width: 150px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}
