.container {
  width: 100%;
  height: 1200px;
  margin: 0px auto;
  background-color: #eee;
  background-color: rgb(152, 214, 152);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

/* 
.container div {
  border: 1px #ccc solid;
  padding: 10px;
} */

.col-1 {
  display: flex;
  flex: 4;
  margin-left: 20px;
}
/* .house-table {
  display: flex;
}

.player-table {
  display: flex;
}

.carduri-jucate {
  display: flex;
} */

.base {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: #abddab;
  width: 100%;
  height: 3vh;
  justify-content: center;
}

#base_url {
  font-size: 18px;
}
/* #id {
  width: 100%;
} */
.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  background-color: #a1f3a1;
  height: 100%;
  padding: 10px;
}
.col-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  /* margin: 10px auto; */
  background-color: rgb(197, 238, 197);
  height: 100%;
}

.post {
  display: flex;
}

.get {
  display: flex;
}

footer {
  background-color: #abddab;
  width: 100%;
  height: 100%;
  justify-content: center;
}
#timer {
  text-align: center;
}

select {
  background-color: #9c9c9c;
  font-size: 18px;
  color: #fff;
}

textarea {
  background-color: #ceffce;
}
#game-board{
  width: 100%;
}
#bottomRow{
  display: flex;
}
#portfolio{
  flex:2;
}
#draw{
  flex:2;
}
#returnRow{
  display: flex;
}
#return{
  flex:3;
}